body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: black;
  }
  
  .login-page {
    text-align: center;
    padding-top: 30px;
  }
  
  
  .login-container {
    display: flex;
    justify-content: center;
  }
  
  .login-box {
    background-color: #4B0101;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    max-width: 900px;
    align-items: center;
  }
  
  .login-left .logo {
    max-width: 300px;
    border-radius: 30px;
  }
  
  .login-right {
    text-align: left;
    color: red;
    font-family: 'Georgia', serif;
  }
  
  .form-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ff0000;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid red;
    background-color: transparent;
    color: white;
    border-radius: 10px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #4d1a1a;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
  }
  
  .register-link:hover {
    color: white;
  }

  .login-button:hover {
    background-color: #4B0101;
  }
  