
  .contact-page {
    font-family: serif;
    color: #F2F2F2;
    background-color: #1E1E1E;
    padding: 2rem;
    text-align: center;
  }
  
  .contact-page h1 {
    font-size: 4rem;
    color: #d41b0c;
    margin: 2rem 0 3rem;
  }
  
  .contact-page p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
  
  .contact-content {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contact-form {
    background-color: transparent;
    padding: 2rem 1.5rem;
    max-width: 100%;
    width: 500px;
  }
  
  .contact-info {
    background-color: rgba(0, 0, 0, 0.26);
    padding: 2rem 1.5rem;
    border-radius: 10px;
    max-width: 100%;
    width: 400px;
  }
  
  .contact-form h2 {
    text-align: center;
    font-size: 2rem;
    color: rgba(231, 48, 48, 0.88);
  }
  
  .contact-info h2 {
    text-align: center;
    font-size: 2rem;
    color: #FF4C4C;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 2rem;
    border: 2px solid rgba(191, 95, 95, 0.71);
    background-color: transparent;
    border-radius: 5px;
    color: #F2F2F2;
  }
  
  .contact-form button {
    width: 45%;
    padding: 0.8rem;
    background-color: #B72C2C;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .contact-info p {
    margin: 0.5rem 0;
    text-align: left;
    font-size: 1.3rem;
    margin: 1rem 2rem;
  }
  
  .contact-info p strong {
    color: #FF4C4C;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .contact-page h1 {
      font-size: 2rem;
      margin: 1.5rem 0;
    }
  
    .contact-page p {
      font-size: 1.1rem;
    }
  
    .contact-content {
      flex-direction: column;
      gap: 2rem;
    }
  
    .contact-form, .contact-info {
      width: 90%;
    }
  
    .contact-form button {
      width: 100%;
    }
  
    .contact-info p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .contact-page h1 {
      font-size: 1.8rem;
    }
  
    .contact-page p {
      font-size: 1rem;
    }
  
    .contact-form, .contact-info {
      width: 100%;
    }
  
    .contact-form button {
      padding: 1rem;
    }
  
    .contact-info p {
      font-size: 0.9rem;
    }
  }
  